<footer>
    <div class="container mt-2">
        <div class="row row-cols-1 row-cols-md-3 mb-1" style="min-height: 100px; align-content: center;">
            <div class="col">
                <h3>Realize what you've learned</h3>
            </div>
            <div class="col">
                <p>col 2</p>
            </div>
            <div class="col h-100">
                <a href="#"><i class="bi bi-youtube"></i></a>
                <a href="#"><i class="bi bi-whatsapp"></i></a>
                <a href="#"><i class="bi bi-telegram"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-github"></i></a>
                <a href="#"><i class="bi bi-discord"></i></a>
            </div>  
        </div> 
    </div>
    <div class="row m-0 p-0 text-center bg-dark">
        <div class="col mt-2">
            <p>&copy; 2021 | with <i class="bi bi-heart-fill"></i> by <a href="https://bagoes.github.io">bagoes</a></p>
        </div>
    </div>
</footer>