

body    {
    margin-top: 50px;
    min-height: 92vh;
}


footer  {
    position: inherit ;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #999;
    padding-top: 20px;
}

footer  p   {
    color: #eee;
    font-size: 0.9em;
}

footer p i  {
    color:  salmon;
}