a:link  {
    color: orange; 
    text-decoration: none;
}
a:hover {
    color: darkgoldenrod; 
}
a:visited {
    color: greenyellow; 
}
a:visited :hover    {
    color: yellowgreen; 
}

body    {
    margin-top: 50px;
    min-height: 100vh;
    color: whitesmoke;
    background-color: darkslategray;
}


footer  {
    width: 100%;
    background-color: rgb(35, 35, 70);
}

footer  a   i   {
    font-size: 1.5rem;
}


footer  p   {
    font-size: 0.9em;
}

footer p i  {
    color:  hotpink;
}